<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mobile.cleancodeacademy.com.mlkit" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application>
        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="barcode,face,ocr,ica" />

        <activity android:name=".java.ChooserActivity"/>

        <activity android:name=".java.LivePreviewActivity"/>

        <activity android:name=".java.StillImageActivity"/>

    </application>

</manifest>